/* ===== SVG ICON SYSTEM ===== */
.icon-svg {
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-shrink: 0;
}

.icon-svg svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.icon-lg {
    width: 1.5em;
    height: 1.5em;
}

.icon-xl {
    width: 2em;
    height: 2em;
}

.icon-xxl {
    width: 3em;
    height: 3em;
}

/* Portal icon sizing */
.portal-icon .icon-svg {
    width: 1.75rem;
    height: 1.75rem;
}

/* Feature strip icons */
.feature-item .icon-svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* Button icons */
.btn .icon-svg {
    width: 1.25em;
    height: 1.25em;
}
